@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Home</h2> 
        <p>
            Hello @User.Identity.Name
        </p>
    </div>
</body>
</html>
