
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Home</h2> 
        <p>
            Hello @CurrentUser.Name . You are from @CurrentUser.Country

        <p>
            <a href="@Url.Action("logout", "auth")">Log Out</a>
        </p>
        </p>
    </div>
</body>
</html>
