@model IEnumerable<FriendsGoals.AppUser>
<div class="users-container">
    <ul class="newlist users-list">
        <li>
            <ul id="users-list">
                @foreach (var elem in Model)
                {
                    <li>
                        <div class="user-main-level">
                            @elem.Id
                        </div>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
