@model IEnumerable<FriendsGoals.AppUser>
<div class="users-container">
    <ul class="newlist users-list">
        <li>
            <ul id="users-list">
                @foreach (var elem in Model)
                {
                   <li>
                        @if (elem.Files.Any(f => f.FileType == FileType.Avatar))
                        {
                            <dd>
                                <img src="~/File?id=@elem.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" width="40" height="40" />
                                </dd>
                        }
                        <div class="user-main-level">
                            @elem.Name @elem.UserSurname
                        </div>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
