@model IEnumerable<FriendsGoals.AppUser>
    @foreach (var elem in Model)
    {
        string resultUrl = elem.UserName == CurrentUser.Name ? Url.Action("MyPage", "Page", null, null) :
            Url.Action("ShowUser", "Page", new { id = elem.Id }, null);
        <a class="user-link" href="@resultUrl">
            <hr />
            <div class="users-container">
                @if (elem.Files.Any(f => f.FileType == FileType.Avatar))
                {
                    <img class="interlocutor-image" src="~/File?id=@elem.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" align="left" width="40" height="40" />
                }
                <p class="user-main-level">
                    @elem.Name @elem.UserSurname
                </p>
            </div>
        </a>
    }
