@model FriendsGoals.Models.ChatModel
<a class="user-link" href="@Url.Action("Chat", "Page", new { userID = Model.Users.Last().Id, message = "" }, null)">
    <div class="dialog-element">
        @if (Model.Users.Last().Files.Any(f => f.FileType == FileType.Avatar))
        {
            <img class="interlocutor-image" src="~/File?id=@Model.Users.Last().Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" width="50" height="50" />
        }
        <p class="interlocutor-name">@Model.ChatName</p>
        @{
            string text = Model.Messages.Last().Text;
            if (text.Length > 100)
            {
                text = text.Substring(0, 100);
            }
            <p class="last-message">@text</p>
        }
    </div>
</a>
