@model FriendsGoals.AppUser

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Messages</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/scripts/chat.js"></script>
</head>
<body>
    <button class="btnWriteMsg">Write message</button>
    @if (Model.Dialogs != null)
    {
        foreach (FriendsGoals.Models.ChatModel dialog in Model.Dialogs)
        {
            <hr />
            Html.RenderPartial("Dialog", dialog);
        }
        <hr />  
    }
    else
    {
        <p class="no-msg">You have no messages.</p>
    }
</body>
</html>