@model FriendsGoals.AppUser
@{
    ViewBag.Title = "MyFriends";
    string focusedElement = ViewBag.Focused;
    if (focusedElement.IsEmpty())
    {
        focusedElement = "elem1";
    }
    string pageToRender = ViewBag.PageToRender;
    if (pageToRender.IsEmpty())
    {
        pageToRender = "FriendsList";
    }
}
<html>
<head>
    <script>
        function press(obj) {
            document.getElementById("elem1").style.backgroundColor = "#7099e2";
            document.getElementById("elem2").style.backgroundColor = "#7099e2";
            document.getElementById("elem3").style.backgroundColor = "#7099e2";
            document.getElementById(obj.id).style.backgroundColor = "#5d89d7";
        }
        function init() {
            press(document.getElementById("@focusedElement"));
        }
    </script>
</head>
<body onload="init()">
    <div class="friends-nav-panel">
        <div class="friends-nav-element" id="elem1" onclick="press(this)">@Html.ActionLink("Friends", "MyFriends", "Page", new { pressedElement = "elem1" }, null )</div>
        <div class="friends-nav-element" id="elem2" onclick="press(this)">@Html.ActionLink("Followers", "MyFriends", "Page", new { pressedElement = "elem2" }, null)</div>
        <div class="friends-nav-element" id="elem3" onclick="press(this)">@Html.ActionLink("Following", "MyFriends", "Page", new { pressedElement = "elem3" }, null)</div>
    </div>
    @{
        Html.RenderPartial(pageToRender, Model);
    }
</body>
</html>
