body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.log-in-body {
    background-color: #fafafa;
}

.log-in-block {
    display: block;
    min-width: 200px;
    max-width: 300px;
    min-height: 230px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px auto;
    border: 1px solid grey;
}

.full-name {
    font-size: 25px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.user-image {
    display: block;
    width: 200px;
}
