@model FriendsGoals.Models.LogInModel
@{
    ViewBag.Title = "LogIn";
    Layout = null;
}

<h2>LogIn</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <br/>
    <p>
        <button class="btn btn-success" type="submit">Log In</button>
    </p>
}